# ===================================================================
# artellapipe-tools-shadersmanager requirements file
# ===================================================================

artellapipe-core